.main-section{
    background-image:url("images/home.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    
}
.banner{
    background-color:#f59fd1;
	height: 70px;
}

.main-article{
    margin-top:70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:50px;
    color:#ffffff;
}
.main-article-paragraph{
    margin-top:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ffffff;
    font-size:30px;

}
.main-nav{
    margin-top:30px;

}

a:link.main-nav {
    color:#ffffff;
    font-weight:bolder;
    
}
a:visited.main-nav{
    text-decoration:none;
    color:#ffffff;
}
a:hover.main-nav{
    text-decoration:none;
    color:#ae0d9c;
}

a:active.main-nav{
    text-decoration:none;
    background-color:#ae0d9c;
}
a:link.sub-nav{
    color:#ffffff;
    background-color:#fa157e;
    font-size:20px;
    border:thin;
    border-radius:5px;
    font-weight:bold;
    
}
a:hover.sub-nav{
    text-decoration:none;
    color:#fa157e;
    background-color:#f59fd1;
    
    
}
.sub-nav{
    margin-top:20px;
}
.article{
    color:#000000;
}
.signup-form {
    margin-top: 30px;
    background-color: #e2e0f3;
    padding: 15px;
} 
.signin-form{
    margin-top:30px;
    background-color:#e2e0f3;
    padding:15px;
}
.task-form{
    margin-top:30px;
    padding:15px;
}
.task-table{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:30px;
    margin-right:30px;
    background-color:#e2e0f3;
    padding:10px;
}